---
Checks:          'clang-analyzer-*,modernize-*,bigprone-*,readability-*,portability-*,performance-*,-modernize-avoid-c-arrays,-modernize-use-nullptr,-modernize-use-auto, -readability-magic-numbers, -modernize-use-trailing-return-type'
WarningsAsErrors: 'clang-analyzer-*,modernize-*,bigprone-*,readability-*,portability-*,performance-*,-modernize-avoid-c-arrays,-modernize-use-nullptr,-modernize-use-auto, -readability-magic-numbers. -modernize-use-trailing-return-type'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     'file'
User:            SwarmUS
CheckOptions:
  - key:            modernize-loop-convert.MinConfidence
    value:          reasonable
  - key:            readability-identifier-naming.ClassCase
    value:          CamelCase
  - key:            readability-identifier-naming.VariableCase
    value:          camelBack
  - key:            readability-identifier-naming.ParameterCase
    value:          camelBack
  - key:            readability-identifier-naming.MemberCase
    value:          camelBack
  - key:            readability-identifier-naming.MemberPrefix
    value:          m_
  - key:            readability-identifier-naming.StaticVariableCase
    value:          camelBack
  - key:            readability-identifier-naming.StaticVariablePrefix
    value:          s_
  - key:            readability-identifier-naming.GlobalVariableCase
    value:          camelBack
  - key:            readability-identifier-naming.GlobalVariablePrefix
    value:          g_
  - key:            readability-identifier-naming.GlobalConstantCase
    value:          camelBack
  - key:            readability-identifier-naming.GlobalConstantPrefix
    value:          gc_
  - key:            readability-identifier-naming.MacroDefinitionCase
    value:          UPPER_CASE
...
