.idea/
.vscode/

cmake-build-debug/
cmake-build-target/
cmake-build-local/

.builds/
build/
build

.cache/
.ccls-cache/
.dir-locals.el
compile_commands.json

src/bsp/src/stm32f4/external/stm32f429zi/stm32f429zi.gpdsc
*.gpdsc


.clangd/

tools/openocd/stm32_f4/nucleo_a.cfg

tools/openocd/stm32_f4/nucleo_b.cfg

tools/openocd/stm32_f4/nucleo_c.cfg

build-h7/
