<?xml version="1.0"?>
    <!-- Generic launch file for a hivemind node -->
    <!-- Template to be used for further more complexed setups -->
    <launch>
        <!-- Simple node -->
        <node name="hive_mind" pkg="hive_mind" type="hive_mind"  output="screen" >
            <param name="board_uuid" value="1" />

            <param name="host_tcp_address" value="127.0.0.1" />
            <param name="host_tcp_port" value="5555" />

            <!-- Set port to 0 to disable server -->
            <param name="uart_mock_port" value="12345" />

            <!-- Set port to 0 to disable server -->
            <param name="remote_mock_port" value="12346" />

            <param name="log_level" value="Info" />
        </node>
</launch>
